<!DOCTYPE html>
<html lang="es">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/header.ejs') %> 
   

    <main>
      <section>
        <div class="flex-container tarjeta-superior-producto">
          <div class="contenedor-imagen">
            <img class="imagen-producto" src="/img/productos/<%= producto.image %>"></img>
          </div>  
          <div class="tproducto">
            <h3><%= producto.productName %></h3>
            <hr>
            <p class="precio-producto"><b>$<%= producto.price %></b></p>
            <h4>Descripción</h4>
            <div class="descripcion-producto">
              <p><%= producto.description %></p>
            </div>
            <div class="quantity">
              
              <a class="waves-effect waves-light btn-small padding-btn"><i class="material-icons">remove</i></a>
                
              <input class="input-count" type="text" name="name" value="1">
              
              <a class="waves-effect waves-light btn-small padding-btn"><i class="material-icons">add</i></a>

              <button class="agregar-carrito-button" type="submit" value="Agregar al carrito">
                Agregar al carrito
              </button>

              <br><br>

              <a href="/admin/editProduct/<%= producto.id_product %>" class="waves-effect waves-orange btn agregar-carrito-button" type="submit" value="Agregar al carrito">
                Editar producto
              </a>

              <form onsubmit="return confirm('¿Deseas eliminar el producto?');" action="/admin/deleteProduct/<%= producto.id_product %>?_method=DELETE" method="POST" style="display: inline-flex">
                <button type="submit" class="waves-effect waves-red btn agregar-carrito-button">ELIMINAR</button>
              </form>

            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="flex-container tarjeta-inferior-producto">
          <div class="caracteristicas-tproducto">
            <% if (producto.ingredients) { %>
              <h4>Ingredientes</h4>
              <hr>
              <ul>
                <li><%= producto.ingredients %></li>
              </ul>
            <% } %>
            <% if (producto.instructions) { %>
              <h4>Instrucciones de uso</h4>
              <hr>
              <ol>
                <li><%= producto.instructions %></li>
              </ol>
            <% } %>
          </div>
          <div class="promo-tproducto">
            <h4>Envios a todo México</h4>
              <i class="fas fa-truck"></i>
            <h4>Garantía de safisfacción</h4>
              <i class="fas fa-shield-alt"></i>
          </div>
        </div>
      </section>
    </main>

    <!-- FOOTER -->
    <%- include('../partials/footer.ejs') %>
    <!--FIN DEL FOOTER -->
    
    <!-- JavaScript -->

    <%- include('../partials/scripts.ejs') %>

  </body>

</html>
