<!DOCTYPE html>
<html lang="es">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/header.ejs') %> 

    <main class="fondo-main">
      <div class="row">
        <div class="col l8 m8 s12">
          <form action="/" method="GET">
            <h2 class="title center-align brown-text">Hola, <%= user.nombre %> <%= user.apellido %>. ¿Tienes alguna duda? CONTÁCTANOS</h2>
            <hr>
            <div class="card-sign-up hoverable">
              <div class="input-field col s12">
                <i class="material-icons prefix">account_circle</i>
                <input type="text" id="name" name="name" required  minlength="4" maxlength="8">
                <label for="name">Ej: Diego</label>
              </div>
              <div class="input-field col s12">
                <i class="material-icons prefix">account_box</i>
                <input type="text" id="first-name" name="first-name" required  minlength="4" maxlength="8">
                <label for="first-name">Ej: Ventura</label>
              </div>
              <div class="input-field col s12">
                <i class="material-icons prefix">email</i>
                <input id="email" type="email" class="validate" required>
                <label for="email">Ej: diego@gmail.com</label>
                <span class="helper-text" data-error="wrong" data-success="right">Verificación de correo</span>
              </div>
              <div class="input-field col s12">
                <i class="material-icons prefix">phone</i>
                <input id="telephone" type="tel" class="validate">
                <label for="telephone">Ej: 5563134566</label>
              </div>

              <div class="input-field col s12">
                <i class="material-icons prefix">mode_edit</i>
                <textarea id="textarea2" class="materialize-textarea" data-length="120"></textarea>
                <label for="textarea2">Mensaje...</label>
              </div>
              
              <div class="registrar">
                <input type="submit" class="btn-reg-ini"  value="ENVIAR">
              </div>
              
            </div>
          </form>
        </div>

        <div class="col l4 m4 hide-on-small-only">
          <div class="row">
            <div class="col l12 m12"><img class="contact-image circle" src="../img/redes/contacto.jpg"></div>
            <div class="col l12 m12"><img class="contact-image circle" src="../img/redes/contacto2.jpg"></div>
            <div class="col l12 m12"><img class="contact-image circle" src="../img/redes/contacto3.jpg"></div>
          </div>              
        </div>
      </div>

      <div class="container z-depth-4 ubicacion">
        <h2 class="title center-align brown-text">UBICACIÓN</h2>
        <div class="row">
          <div class="col s12 m12  center-align">
              <p>PetItMx se encuentra en:
              No se donde 1997, Colonia No se que Inn, C.P. 01425
              Ciudad de México.
              </p>   
              <div class="map-responsive">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7674.200346166014!2d-63.99303249490152!3d-33.86835757045348!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMzPCsDUyJzA0LjQiUyA2M8KwNTknMTMuMiJX!5e1!3m2!1ses!2smx!4v1625512294381!5m2!1ses!2smx" width="600" height="450" style="border:0;" allowfullscreen></iframe>     
              </div>      
          </div>
        </div>
    </div>

    </main>

    <!-- FOOTER -->
    <%- include('../partials/footer.ejs') %>
    <!--FIN DEL FOOTER -->

    <!-- JavaScript -->

    <%- include('../partials/scripts.ejs') %>

  </body>
</html>
