<!DOCTYPE html>
<html lang="es">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/header.ejs') %> 
   

    <main class="fondo-main">
      <div class="container">
        <div class="row">

          <% if (locals.errors) { %>
            <% errors.forEach( (error) => { %>
              <h4 class="error">Error: <%= error.msg %></h4>
            <% }); %>
          <% } %>

          <form action="/users/login" method="POST">
            <h2 class="title center-align brown-text">Iniciar Sesión</h2>
            <hr>
            <div class="card-sign-up hoverable">

              <div class="input-field">
                <i class="fas fa-user"></i>
                <input type="text" id="email" name="email" placeholder="Email" required>
              </div>
              <div class="input-field">
                <i class="fas fa-lock"></i>
                <input type="password" id="password" name="password" placeholder="Contraseña" required>
              </div>
              
              <div>
                <p>
                  <label>
                    <input type="checkbox" name="rememberMe" class="filled-in"  />
                    <span>Recordar mis datos</span>
                  </label>
                </p>
              </div>

              <div class="ingresar">
                  <input type="submit" class="btn-reg-ini"  value="LOGIN">
              </div>
            </div>
          </form>

          <div class="registrar">
            <span>¿Olvidaste tu <a href="#">contraseña?</a></span><br>
            <a href="/users/register">Crea un nuevo usuario ➡ </a>
          </div>

        </div>

      </div>      
    </main>
    
    <!-- FOOTER -->
    <%- include('../partials/footer.ejs') %>
    <!--FIN DEL FOOTER -->
    
    <!-- JavaScript -->

    <%- include('../partials/scripts.ejs') %>

  </body>
</html>
