<!DOCTYPE html>
<html lang="es">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/header.ejs') %> 

    <main class="fondo-main">
      <div class="container">
        <div class="row">
          <h2 class="title center-align brown-text">¡REGISTRATE!</h2>

          <% if (locals.errors) { %>
            <% errors.forEach( (error) => { %>
              <h4 class="error">Error: <%= error.msg %></h4>
            <% }); %>
          <% } %>
          
          <form action="/users/register" method="POST" enctype="multipart/form-data"  onsubmit="return alert('Usuario creado con éxito!');">     
              
              <div class="card-sign-up hoverable"> <!-- INICIO de bloque de registro -->
                <div class="row">
                  <div class="input-field col s6">
                    <i class="material-icons prefix">account_circle</i>
                    <input type="text" placeholder="Ej: Vicente" value="<%= locals.old && old.first_name %>" id="first_name" name="first_name" data-name="Nombre">
                    <label for="first_name">Nombre: </label>
                    <div class="invalid-feedback"> </div>
                  </div>
                  <div class="input-field col s6">
                    <i class="material-icons prefix">account_circle</i>
                    <input type="text" placeholder="Ej: Ruiz" value="<%= locals.old && old.last_name %>" id="last_name" name="last_name" data-name="Apellido">
                    <label for="last_name">Apellido: </label>
                    <div class="invalid-feedback"> </div>
                  </div>
                </div>         
                <div class="row">
                  <div class="input-field">
                    <i class="material-icons prefix">email</i>
                    <input type="email" id="email" name="email" value="<%= locals.old && old.email %>" placeholder="Ej: vicente@gmail.com" data-name="Email" required>
                    <label for="email">Correo: </label>
                    <div class="invalid-feedback"> </div>
                  </div>
                </div>   
                <div class="row"> <!-- INICIO de contraseñas -->
                  <div class="input-field col s6">
                    <i class="material-icons prefix">lock</i>
                    <input type="password" id="password" name="password" placeholder="********"
                                data-name="Contraseña"  
                                minlength="8"
                                pattern="[A-Za-z][A-Za-z0-9]*[0-9][A-Za-z0-9]*"
                                title="La contraseña debe comenzar con una letra y contener al menos un dígito"
                                required>
                    <div class="invalid-feedback"> </div>
                  </div>
                  <div class="input-field col s6">
                    <i class="material-icons prefix">lock_outline</i>
                    <input type="password" id="rePassword" name="rePassword"
                          data-name="Repetir Contraseña"   
                          placeholder="********"
                          minlength="8"
                          pattern="[A-Za-z][A-Za-z0-9]*[0-9][A-Za-z0-9]*"
                          title="La contraseña debe comenzar con una letra y contener al menos un dígito"
                          required>
                    <div class="invalid-feedback" id="repasswordMessage"> </div>
                  </div>
                </div>   <!-- FIN de row de contraseña-->
                <div class="row"> <!-- INICIO de imagen de avatar -->
                  <div class="file-field input-field col s12">
                    <div class="btn">
                      <span>Subir imagen</span>
                      <input type="file" id="avatar" name="avatar" accept="image/*">
                    </div>
                    <div class="file-path-wrapper">
                      <input class="file-path validate" type="text">
                    </div>
                  </div>
                  <div class="invalid-feedback"> </div>
                </div>               
                <div > <!-- INICIO de terminos y condiciones -->
                  <p>
                    <label>
                      <input type="checkbox" class="filled-in"  />
                      <span>Deseo recibir información sobre promociones</span>
                    </label>
                  </p>
                  <p>
                    <label>
                      <input type="checkbox" class="filled-in" required />
                      <span>He leído y acepto la política de privacidad</span>
                    </label>
                  </p>
                </div> <!-- FIN de terminos y condiciones -->
                <div class="registrar"> <!-- INICIO botón de enviar datos -->
                  <input type="submit" class="btn-reg-ini"  value="REGISTRAR">
                </div> <!-- FIN de botón de envio -->
              </div> <!-- FIN de bloque de registro -->

          </form>
          <div class="ingresar">
              <p class="blue-text">¿Ya tienes cuenta?</p>
              <a href="/users/login"><input type="button" class="btn-reg-ini" value="INICIAR SESIÓN"></a>
          </div>
        </div>
      </div>
    </main>

    <!-- FOOTER -->
    <%- include('../partials/footer.ejs') %>
    <!--FIN DEL FOOTER -->

    <!-- JavaScript -->

    <%- include('../partials/scripts.ejs') %>
	  <script defer src="/js/validateRegister.js"></script>
    
  </body>
</html>
