<!DOCTYPE html>
<html lang="es">
  <%- include('partials/head.ejs') %>
  <body>
    <div class="preload">
      <img class="petitLoader" src="./img/Principal.png" alt="petitmx">
      <img class="huella1" src="./img/footprint.png" alt="huella1">
      <img class="huella2" src="./img/footprint.png" alt="huella2">
      <img class="huella3" src="./img/footprint.png" alt="huella3">
      <img class="huella4" src="./img/footprint.png" alt="huella4">
    </div>
    <%- include('partials/header.ejs') %> 
    <main class="fondo-main">
      <% if (locals.nombreU) { %>
        <h4 class="title center-align brown-text">¡Bienvenido de nuevo <%= locals.nombreU + " " + locals.apellidoU %>!</h4>
      <% } %>
        <!-- Inicio de Slider -->
      <div class="slider">
        <ul class="slides">
          <li>
            <img src="img/carousel/cliente-mascota-1.jpg"  alt="mascota1"> 
          </li>
          <li>
            <img src="img/carousel/cliente-mascota-2.jpg"  alt="mascota2"> 
          </li>
          <li>
            <img src="img/carousel/cliente-mascota-3.jpg"  alt="mascota3">
          </li>
        </ul>
      </div>
      <!-- Fin del slider -->
     
      <!-- Productos destacados -->
      <section>

      </section>
      <!-- Productos con imagen y descripción -->
      <div class="row product-width">
        <h4>Últimos productos agregados</h4>
        <div class="col s12 m12 l12 center-align">
            <div class="row">
              <div class="flex-product">
                  <!-- Aqui comienza los productos-->                
                  <!-- Producto 1-->
                  <div class="col s12 m6 l4">
                    <div class="card">
                      <div class="card-image">
                        <img class="activator img-product" src="img/productos/producto1.jpg">
                      </div>
                      <div class="card-content">
                        <span class="card-title activator titulo-producto">
                          Pro Plan Optiderma Sensitive Skin Alimento Seco para Perro Adulto Razas Mediana/Grande Receta Salmón y Arroz
                        </span>
                      </div>
                      <div class="card-action">
                        <a class="btn white pink-text waves-effect waves-yellow">Comprar</a>
                      </div>
                      <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Descripción<i class="material-icons right">close</i></span>
                        <p class="text-descripcion">
                          Pro Plan Sensitive Skin brinda una nutrición superior, sus croquetas minimizan el riesgo de irritación de la piel asociada con la sensibilidad alimentaria. Formulado con salmón, una fuente alternativa de proteínas, ideal para perros sensibles. Conoce el plan de nutrición de última generación que está revolucionando la forma de alimentar y proteger a los perros.
                        </p>
                      </div>
                    </div>
                  </div>
                    <!-- Producto 2-->
                  <div class="col s12 m6 l4">
                    <div class="card">
                      <div class="card-image">
                        <img class="activator img-product" src="img/productos/producto7.jpg">
                      </div>
                      <div class="card-content">
                        <span class="card-title activator titulo-producto">
                          Merrick Purrfect Bistro Alimento Natural sin Granos para Gato Adulto Receta Salmón, 5.4 kg
                        </span>
                      </div>
                      <div class="card-action">
                        <a class="btn white pink-text waves-effect waves-yellow">Comprar</a>
                      </div>
                      <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Descripción<i class="material-icons right">close</i></span>
                        <p class="text-descripcion">
                          Merrick Purrfect Bistro Alimento Natural para Gato Receta de Salmón, brinda a tu gatito una dieta libre de granos, alta en proteínas, con niveles moderados de grasa y bajos niveles de carbohidratos. Esta fórmula está creada para cubrir las necesidades nutricionales de tu mascota gracias a que está fortificada con vitaminas, minerales y antioxidantes. Diseñada con una dieta equilibrada que contiene 70% de proteína y ácidos grasos saludables y 30% de productos frescos, vitaminas y minerales, además, provee a tu felino de salud que puedes observar, ya que contiene ácidos grasos esenciales como Omega- 6 y 3 que ayudarán a que tu gato tenga una piel pelo saludable y suave.
                        </p>
                      </div>
                    </div>
                  </div>
                    <!-- Producto 3-->
                  <div class="col s12 m6 l4">
                    <div class="card">
                      <div class="card-image">
                        <img class="activator img-product" src="img/productos/producto14.jpg" alt="Arena gato">
                      </div>
                      <div class="card-content">
                        <span class="card-title activator titulo-producto">
                          You & Me Polvo de Baño para Chinchilla, 1.13 kg
                        </span>
                      </div>
                      <div class="card-action">
                        <a class="btn white pink-text waves-effect waves-yellow">Comprar</a>
                      </div>
                      <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Descripción<i class="material-icons right">close</i></span>
                        <p class="text-descripcion">
                          El polvo de chinchilla es un polvo de polvo natural de alta calidad. Protege el pelaje de la chinchilla al eliminar aceites extra y humedad, dejándolo saludable y limpio. Este polvo es completamente natural, sin químicos añadidos o utilizados durante el procesamiento. Este polvo tiene el tamaño de partícula ideal para penetrar y limpiar el pelaje denso de la chinchilla. You & Me Chinchilla Dust se puede reciclar como un aditivo para el suelo para la jardinería doméstica.
                        </p>
                      </div>
                    </div>
                  </div>   
              </div>            
            </div>
        </div>
      </div>
        
      <!-- Nuestras marcas -->

      <div class="container center-align">
        <h3> Nuestras marcas </h3>
        <div class="carousel">
          <a class="carousel-item"><img src="img/logos/logobr-000.jpg" alt="Image 1"></a>
          <a class="carousel-item"><img src="img/logos/logobr-001.png" alt="Image 2"></a>
          <a class="carousel-item"><img src="img/logos/logobr-002.jpg" alt="Image 3"></a>
          <a class="carousel-item"><img src="img/logos/logobr-004.jpg" alt="Image 5"></a>
          <a class="carousel-item"><img src="img/logos/logobr-005.png" alt="Image 6"></a>
          <a class="carousel-item"><img src="img/logos/logobr-006.jpg" alt="Image 7"></a>
          <a class="carousel-item"><img src="img/logos/logobr-008.jpg" alt="Image 9"></a>
          <a class="carousel-item"><img src="img/logos/logobr-009.png" alt="Image 10"></a>
          <a class="carousel-item"><img src="img/logos/logobr-016.png" alt="Image 11"></a>
          <a class="carousel-item"><img src="img/logos/logobr-017.png" alt="Image 12"></a>
          <a class="carousel-item"><img src="img/logos/logobr-018.png" alt="Image 13"></a>
          <a class="carousel-item"><img src="img/logos/logobr-019.png" alt="Image 14"></a>
          <a class="carousel-item"><img src="img/logos/logobr-020.jpg" alt="Image 15"></a>
          <a class="carousel-item"><img src="img/logos/logobr-022.png" alt="Image 17"></a>
        </div>
      </div>

    </main>

    <!-- FOOTER -->
    <%- include('partials/footer.ejs') %>
    <!--FIN DEL FOOTER -->

  </body>

  <!-- jQuery first, then Popper.js, then Materialize JS -->
  <%- include('partials/scripts.ejs') %>

</html>
