<!DOCTYPE html>
<html lang="es">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/header.ejs') %> 
   

    <main class="fondo-main">
      <div class="container">
        <div class="row">

          <form class="col s12 products" action="/admin/addProduct" method="POST" enctype="multipart/form-data">
            <h2 class="title center-align brown-text">Agregando producto nuevo</h2>
            <hr>

            <% if (locals.errors) { %>
              <% errors.forEach( (error) => { %>
                <h4 class="error">Error: <%= error.msg %></h4>
              <% }); %>
            <% } %>

            <div class="card-sign-up hoverable">

              <div class="input-field">
                <input type="text" id="productName" name="productName" placeholder="Nombre del producto" value="<%= locals.old && old.productName %>" data-name="Producto" >
                <label for="productName">Nombre del producto: </label>
                <span class="helper-text"></span>
              </div>

              <div class="row">
                <div class="input-field col l6 s12">
                  <select name="brand" id="brand" data-name="Marca">
                    <option value="" disabled selected>Selecciona una marca</option>
                    <% brands.forEach( brand => { %>
                      <% if (locals.old && old.brand == brand.id_brand) { %>
                        <option value="<%= brand.id_brand %>"
                          selected><%= brand.brandName%></option>
                      <% } else { %>
                        <option value="<%= brand.id_brand %>"
                          ><%= brand.brandName%></option>
                      <% } %>
                    <% }); %>
                  </select>
                  <label for="brand">Marca del producto: </label>
                  <span class="helper-text"></span>
                </div>
                <div class="input-field col l6 s12">
                  <input type="text" id="price" name="price" placeholder="Precio del producto" value="<%= locals.old && old.price %>" data-name="Precio">
                  <label for="price">Precio del producto: </label>
                  <span class="helper-text"></span>
                </div>
              </div>
              
              <div class="input-field">
                <textarea id="description" name="description" class="materialize-textarea" placeholder="Descripción" data-name="Descripción"><%= locals.old && old.description %></textarea>
                <label for="description">Descripción del producto: </label>
                <span class="helper-text"></span>
              </div>
              <div class="input-field">
                <textarea id="ingredients" name="ingredients" class="materialize-textarea" placeholder="Ingredientes" data-name="Ingredientes"><%= locals.old && old.ingredients %></textarea>
                <label for="ingredients">Ingredientes del producto:</label>
                <span class="helper-text"></span>
              </div>
              <div class="input-field">
                <textarea id="instructions" name="instructions" class="materialize-textarea" placeholder="Instrucciones" data-name="Instrucciones"><%= locals.old && old.instructions %></textarea>
                <label for="instructions">Instrucciones del producto:</label>
                <span class="helper-text"></span>
              </div>
              <label for="productImage"><i class="material-icons tiny">image</i> Subir imagen:</label>
              <div class="file-field input-field col s12">
                <div class="file-path-wrapper col s9 m9 l9">
                  <input class="file-path" type="text" id="image-file"  name="image-file" data-name="Imagen">
                  <label for="avatar-file">Producto:</label>
                  <span class="helper-text"></span>
                </div>
                <div class="btn col s3 m3 l3">
                  <span>Upload</span>
                  <input type="file" id="productImage" name="productImage">
                </div>
              </div>
              <div class="input-field col l6 s12">
                <select name="pet" id="pet">
                  <option value="" disabled selected>Selecciona el tipo</option>
                  <% pets.forEach( pet => { %>
                    <% if (locals.old && old.pet == pet.id_pet) { %>
                      <option value="<%= pet.id_pet %>"
                        selected><%= pet.pet%></option>
                    <% } else { %>
                      <option value="<%= pet.id_pet %>"
                        ><%= pet.pet%></option>
                    <% } %>
                  <% }); %>
                </select>
                <label for="pet">Tipo de mascota: </label>
              </div>
              <div class="input-field col l6 s12">
                <select name="subcategory" id="subcategory">
                  <option value="" disabled selected>Selecciona la categoría</option>
                  <% subcategorys.forEach( subcategory => { %>
                    <% if (locals.old && old.category == subcategory.id_subcategory) { %>
                      <option value="<%= subcategory.id_subcategory %>"
                        selected><%= subcategory.subcategoryName%></option>
                    <% } else { %>
                      <option value="<%= subcategory.id_subcategory %>"
                        ><%= subcategory.subcategoryName%></option>
                    <% } %>
                  <% }); %>
                </select>
                <label for="subcategory">Categoría del producto: </label>
              </div>

              <div class="ingresar">
                  <input type="submit" class="btn-edit-prod"  value="CREAR PRODUCTO">
              </div>
            </div>
          </form>

        </div>

      </div>
    </main>
    
    <!-- FOOTER -->
    <%- include('../partials/footer.ejs') %>
    <!--FIN DEL FOOTER -->
    
    <!-- JavaScript -->

    <%- include('../partials/scripts.ejs') %>
    <script type="text/javascript">
      document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems);
      });
    </script>
    <script type="text/javascript" src="/js/validator.min.js"></script>
	  <script type="text/javascript" src="/js/validateAddProduct.js"></script>

  </body>
</html>
