<!DOCTYPE html>
<html lang="es">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/header.ejs') %> 

    <main class="fondo-main">
      <div class="row">
        <div class="col l8 m8 s12">
          <form class="contact" action="/" method="GET">
            <p class="title center-align brown-text">Hola, <%= locals.nombreU + " " + locals.apellidoU %>.</p>
            <p class="title center-align brown-text">¿Tienes alguna duda? CONTÁCTANOS</p>
            <hr>
            <div class="card-sign-up hoverable">
              <div class="input-field col s12">
                <i class="material-icons prefix">account_circle</i>
                <input type="text" id="first_name" name="first_name" value="<%= locals.nombreU %>" data-name="Nombre">
                <label for="first_name">Nombre:</label>
                <span class="helper-text"></span>
              </div>
              <div class="input-field col s12">
                <i class="material-icons prefix">account_box</i>
                <input type="text" id="last-name" name="last-name" value=" <%= locals.apellidoU %>" data-name="Apellido">
                <label for="first-name">Apellido:</label>
                <span class="helper-text"></span>
              </div>
              <div class="input-field col s12">
                <i class="material-icons prefix">email</i>
                <input id="email" type="email"  name="email" placeholder="Ej: vicente@gmail.com" data-name="Email">
                <label for="email">Correo:</label>
                <span class="helper-text"></span>
              </div>
              <div class="input-field col s12">
                <i class="material-icons prefix">phone</i>
                <input id="telephone" type="tel" name="telephone" placeholder="5563134566" data-name="Teléfono">
                <label for="telephone">Teléfono</label>
                <span class="helper-text"></span>
              </div>

              <div class="input-field col s12">
                <i class="material-icons prefix">mode_edit</i>
                <textarea id="textarea2" name="textarea2" class="materialize-textarea" data-name="Dudas"></textarea>
                <label for="textarea2">Cuentanos tus dudas...</label>
                <span class="helper-text"></span>
              </div>
              
              <div class="registrar">
                <input type="submit" class="btn-reg-ini"  value="ENVIAR">
              </div>
              
            </div>
          </form>
        </div>

        <div class="col l4 m4 hide-on-small-only">
          <div class="row">
            <div class="col l12 m12"><img class="contact-image circle" src="../img/redes/contacto.jpg"></div>
            <div class="col l12 m12"><img class="contact-image circle" src="../img/redes/contacto2.jpg"></div>
            <div class="col l12 m12"><img class="contact-image circle" src="../img/redes/contacto3.jpg"></div>
          </div>              
        </div>
      </div>

      <div class="container z-depth-4 ubicacion">
        <h2 class="title center-align brown-text">UBICACIÓN</h2>
        <div class="row">
          <div class="col s12 m12  center-align">
              <p>PetItMx se encuentra en:
              No se donde 1997, Colonia No se que Inn, C.P. 01425
              Ciudad de México.
              </p>   
              <div class="map-responsive">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7674.200346166014!2d-63.99303249490152!3d-33.86835757045348!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMzPCsDUyJzA0LjQiUyA2M8KwNTknMTMuMiJX!5e1!3m2!1ses!2smx!4v1625512294381!5m2!1ses!2smx" width="600" height="450" style="border:0;" allowfullscreen></iframe>     
              </div>      
          </div>
        </div>
    </div>

    </main>

    <!-- FOOTER -->
    <%- include('../partials/footer.ejs') %>
    <!--FIN DEL FOOTER -->

    <!-- JavaScript -->

    <%- include('../partials/scripts.ejs') %>
    <script type="text/javascript" src="/js/validator.min.js"></script>
	  <script type="text/javascript" src="/js/validateContact.js"></script>

  </body>
</html>
