<!DOCTYPE html>
<html lang="es">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/header.ejs') %> 
    <main class="fondo-main">
      <!-- Productos con imagen y descripción -->
      <div class="row product-width">
        <div class="col s12 m4 l4 center-align">
          <div class="range-field">
            <h5>Precio</h5>
            <input type="range" min="100" max="4100" step="200" value="50"></input>
            <div class="row">
              <div class="col s6 m6 l6 left-align">$100</div>
              <div class="col s6 m6 l6 right-align">$4100</div>
            </div>
          </div>
          <div class="marca">
            <h5>Marca</h5>
              <div class="checkbox-marcas">
                <p>
                  <label>
                    <input type="checkbox" />
                    <span>Marca 1</span>
                  </label>
                </p>
                <p>
                  <label>
                    <input type="checkbox" />
                    <span>Marca 2</span>
                  </label>
                </p>
                <p>
                  <label>
                    <input type="checkbox" />
                    <span>Marca 3</span>
                  </label>
                </p>
                <p>
                  <label>
                    <input type="checkbox" />
                    <span>Marca 4</span>
                  </label>
                </p>
              </div>   
          </div>
          <div class="filtros">
            <h5><i class="fas fa-filter"></i>Filtros</h5>
            <p>
              <label>
                <input type="checkbox"class="filled-in" />
                <span>Filtro 1</span>
              </label>
            </p>
            <p>
              <label>
                <input type="checkbox"class="filled-in" />
                <span>Filtro 2</span>
              </label>
            </p>
            <p>
              <label>
                <input type="checkbox"class="filled-in" />
                <span>Filtro 3</span>
              </label>
            </p>
            <p>
              <label>
                <input type="checkbox"class="filled-in" />
                <span>Filtro 4</span>
              </label>
            </p>
          </div>
        </div>
        <div class="col s12 m8 l8 center-align">
            <div class="row">
            
              <!-- Aqui comienza los productos-->               
              <!-- Producto 1-->
              <% products.forEach( (producto) => { %>

                <div class="col s12 m6 l4">
                    <div class="card medium">
                      <div class="card-image">
                          <img class="activator img-product" src="img/productos/<%= producto.image %>">
                      </div>
                      <div class="card-content">
                          <p class="card-title flow-text truncate scrolling titulo-producto"><%= producto.productName %></p>
                          <h5>$<%= producto.price %></h5>
                      </div>
                      <div class="card-action">
                          <a href="/products/productDetail/<%= producto.id_product %>" class="btn white pink-text waves-effect waves-yellow">VER MÁS</a>
                      </div>
                      <div class="card-reveal">
                          <span class="card-title grey-text text-darken-4">Descripción<i class="material-icons right">close</i></span>
                          <p class="text-descripcion"><%= producto.description %></p>
                      </div>
                    </div>
                </div>
               
                  <% }); %>
                         
            </div>
        </div>
      </div>

    </main>

    <!-- FOOTER -->
    <%- include('../partials/footer.ejs') %>
    <!--FIN DEL FOOTER -->

  </body>

  <!-- jQuery first, then Popper.js, then Materialize JS -->
  <%- include('../partials/scripts.ejs') %>

</html>
