<!DOCTYPE html>
<html lang="es">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/header.ejs') %> 
   

    <main>
      <section>
        <div class="flex-container tarjeta-superior-producto">
          <div class="contenedor-imagen">
            <img class="imagen-producto" src="/img/productos/<%= producto.image %>"></img>
          </div>  
          <div class="tproducto">
            <h5><%= producto.productName %></h5>
            <hr>
            <p class="precio-producto"><b>$<%= producto.price %></b></p>
            <h5>Descripción</h5>
            <div class="descripcion-producto">
              <p><%= producto.description %></p>
            </div>
            <div class="quantity">
              
              <a class="waves-effect waves-light btn-small padding-btn" onclick="aumentar()"><i class="material-icons">add</i></a>
                
              <input class="input-count" id="cantidad" type="text" name="name" value="0">
              
              <a class="waves-effect waves-light btn-small padding-btn" onclick="disminuir()"><i class="material-icons">remove</i></a>

              <button class="agregar-carrito-button" type="submit" value="Agregar al carrito">
                Agregar al carrito
              </button>

              <br><br>

              <a href="/admin/editProduct/<%= producto.id_product %>" class="waves-effect waves-orange btn-edit-prod center-align" type="submit" value="Agregar al carrito">
                <b>EDITAR</b>
              </a>

              <form class="deleteProduct" action="/admin/deleteProduct/<%= producto.id_product %>?_method=DELETE" method="POST" style="display: inline-flex">
                <button type="submit" class="waves-effect waves-red btn-del-prod center-align"><b>ELIMINAR</b></button>
              </form>

            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="flex-container tarjeta-inferior-producto">
          <div class="caracteristicas-tproducto">
            <% if (producto.ingredients) { %>
              <h5>Ingredientes</h5>
              <hr>
              <ul id="ingre-instruc-list">
                <li><%= producto.ingredients %></li>
              </ul>
            <% } %>
            <% if (producto.instructions) { %>
              <h5>Instrucciones de uso</h5>
              <hr>
              <ul id="ingre-instruc-list">
                <li><%= producto.instructions %></li>
              </ul>
            <% } %>
          </div>
          <div class="promo-tproducto">
            <h5>Envios a todo México</h5>
              <i class="material-icons medium green-text text-darken-1">local_shipping</i>
            <h5>Garantía de safisfacción</h5>
              <i class="material-icons medium blue-text text-light-blue">security</i>
          </div>
        </div>
      </section>
    </main>

    <!-- FOOTER -->
    <%- include('../partials/footer.ejs') %>
    <!--FIN DEL FOOTER -->
    
    <!-- JavaScript -->

    <%- include('../partials/scripts.ejs') %>
    <script type="text/javascript" src="/js/confirmDelete.js"></script>

  </body>

</html>
